{{ define "main" }}

<div class="client-project__container">
    <div class="the-client">
        <h2>01</h2>
        <h1>The Client</h1>
        <p>{{ .theclient }}</p>
    </div>

    <div class="the-challenge">
        <h2>02</h2>
        <h1>The Challenge</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro distinctio non, cum atque quaerat nulla fugiat velit magni ad iure reprehenderit, minima sit facere sunt libero odit fugit architecto provident.</p>
    </div>

    <div class="the-approach">
        <h2>03</h2>
        <h1>The Approach</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro distinctio non, cum atque quaerat nulla fugiat velit magni ad iure reprehenderit, minima sit facere sunt libero odit fugit architecto provident.</p>
    </div>

    <div class="the-launch">
        <h2>03</h2>
        <h1>The Launch</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro distinctio non, cum atque quaerat nulla fugiat velit magni ad iure reprehenderit, minima sit facere sunt libero odit fugit architecto provident.</p>
    </div>

</div>
<div class="project-testimonial">
    <h1>Client Review</h1>
    <p><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet architecto veritatis facilis, quisquam asperiores fuga at maiores repudiandae, in sequi, laboriosam minima consectetur recusandae nobis molestiae quam unde. Reiciendis, similique?</em></p>
    <p><em><i class="fas fa-minus"></i>John Pagani</em></p>
</div>
<div class="project-main-image">
    <img src="{{ .Site.BaseURL }}images/home_webdesign2png.png">
</div>

{{ end }}