{{ define "main" }}

<div class="realestate__container">
    <div class="re-left-container">
        <img src="{{ .Site.BaseURL }}images/standard-idx-search.jpg" alt="">
    </div>
    <div class="re-right-container">
        <h4>REAL ESTATE WEBSITE</h4>
        <h1>Power Your Site With Property Searches and Lead Capture Tools</h1>
        <p>Beautifully designed websites built professionally to incorporate MLS data and deliver outstanding user experience across devices.</p>
        <div class="btn-container">
            <i class="fas fa-circle fa-2x"></i><a href="/contact">Contact</a>
        </div>
    </div>
</div>
<div class="realestate__container">
    <div class="re-left-container">
        <h4>LEAD CAPTURE</h4>
        <h1>Manage Leads Through Provided CRM
        </h1>
        <p>Provide a registration page for visitors to capture their information. Visitors can save searches and receive updates of new similar listings.</p>
        <div class="btn-container">
            <i class="fas fa-circle fa-2x"></i><a href="/contact">Contact</a>
        </div>
    </div>
    <div class="re-right-container">
        <img src="{{ .Site.BaseURL }}images/lead-capture-registration-prompt.jpg" alt="">
    </div>
</div>
<div class="re-content">
    <h1>Modern and Luxury Designed Websites</h1>
    <p>Looking for a unique design away from cookie-cutter templates? Our real estate websites are great for brokers and agents looking to establish a modern and luxury web presence.</p>
    <a href="/contact">Let's start a new project</a>

</div>
{{ end }}