@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* UNIQUE BUTTON */
.btn-container {
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
    position: absolute;
}

.btn-circle {
    flex: 1;
}

.btn-container a:after {
    content: '→';
    margin-left: 10px;
}

.btn-container a {
    margin-right: 10px;
    position: absolute;
    left: 20px;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.btn-container:hover .btn-circle {
    margin-left: 167px;
    transition: all .3s ease-in-out;
}

.btn-container:hover circle {
    r: 14;
    transition: all .3s ease-in-out;
}

.btn-container .btn-circle {
    transition: all .2s ease-in-out;
}

/* END UNIQUE BUTTON*/


.header {
    background: transparent;
    position: absolute;
    z-index: 100;
    left: 10%;
    right: 10%;
    top: 30px;
    display: flex;
}

.logo {
    flex: 50%;
}

.nav {
    flex: 50%;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul {
    text-align: right;
}

nav ul li a {
    color: #d1d1d1;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.hero__container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("../images/hero.jpg");
    height: 100vh;
    background-size: cover;
}

.hero-text {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 10%;
    width: 35%;

}

.hero-text h1{
    font-size: 2em;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

.hero-text p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 18px;
}

.hero-text a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.panel-overlay {
    height: 100vh;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
}

.slider__container {
    width: 55%;
    position: absolute;
    top: 40vh;
    right: 0;
}

.multiple-items div {
    height: 300px;
    margin: 0 15px;
}

.multiple-items img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

/* ABOUT */

.about__container {
    background: url("../images/aboutbg.jpg") no-repeat center;

    background-size: cover;
}

.about-content__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10%;
    height: 70vh;
}

.about-img,
.about-bio {
    flex: 1;
}

.about-bio a {
    color: #000;
}

/* SERVICE */
.main-service__container {
    padding: 100px 0;
}

.service__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10%;
}

.service-content {
    flex: 1;
    padding: 0 20px 0 0;
}

.service__container a:nth-child(2) {
    height: 60vh;
    background: url("../images/service1.jpg") no-repeat;
    background-size: cover;
    flex: 1;
    margin: 0 5px;
    color: #fff;
    text-transform: uppercase;
}

.service__container a:nth-child(3) {
    height: 60vh;
    background: url("../images/service2.jpg") no-repeat center;
    background-size: cover;
    flex: 1;
    margin: 0 5px;
    color: #fff;
    text-transform: uppercase;
}

.service__container a:nth-child(4) {
    height: 60vh;
    background: url("../images/service3.jpg") no-repeat center;
    background-size: cover;
    flex: 1;
    margin: 0 5px;
    color: #fff;
    text-transform: uppercase;
}

.service__container a {
    text-decoration: none;
}

.re-slider {
    background: #282828;
    height: 50px;
    width: 0%;
    transition: all .2s ease-in-out;
}

.re-text {
    margin: 0;
    position: relative;
    bottom: 32px;
    margin-left: 10px;
}

.service-one:hover .re-slider {
    width: 100%;
    transition: all .2s ease-in-out;
}