@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5
}

* {
    box-sizing: border-box;
}

.hr-hero {
    height: 1px;
    width: 30%;
    position: absolute;
    background-color: #181818;
}

.hr-hero-bottom {
    height: 1px;
    width: 20%;
    position: absolute;
    background-color: #181818;
    bottom: 15px;
}

/* UNIQUE BUTTON */
.btn-container {
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
    position: absolute;
}

.btn-circle {
    flex: 1;
}

.btn-container a:after {
    content: '→';
    margin-left: 10px;
}

.btn-container a {
    margin-right: 10px;
    position: absolute;
    left: 20px;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.btn-container:hover .btn-circle {
    margin-left: 167px;
    transition: all .3s ease-in-out;
}

.btn-container:hover circle {
    r: 14;
    transition: all .3s ease-in-out;
}

.btn-container .btn-circle {
    transition: all .2s ease-in-out;
}

/* END UNIQUE BUTTON*/


.header {
    background: transparent;
    position: absolute;
    z-index: 100;
    left: 10%;
    right: 10%;
    top: 30px;
    display: flex;
}

.logo {
    flex: 50%;
}

.nav {
    flex: 50%;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul {
    text-align: right;
}

nav ul li a {
    color: #d1d1d1;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.hero__container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(23, 23, 23)),
                url("../images/hero.jpg");
    height: 100vh;
    background-size: cover;
}

.hero-text {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 10%;
    width: 35%;

}

.hero-text h1{
    font-size: 2em;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

.hero-text p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 18px;
}

.hero-text a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.panel-overlay {
    height: 100vh;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
}

.slider__container {
    width: 55%;
    position: absolute;
    top: 40vh;
    right: 0;
}

.multiple-items div {
    height: 300px;
    margin: 0 15px;
}

.multiple-items img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

/* ABOUT */

.about__container {
    background: linear-gradient(rgb(23, 23, 23), rgb(25, 25, 25)),
    url("../images/aboutbg.jpg") no-repeat center;
    background-size: cover;
    color: #fff;
}

.about-content__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10%;
    height: 50vh;
}

.about-img,
.about-bio {
    flex: 1;
}

.about-bio h1 {
    text-transform: uppercase;
}

.about-bio p {
    color: #cccccc;
}

.about-bio a {
    color: #fff;
}


/* SERVICE */
.main-service__container {
    padding: 150px 0;
    background-color: #ffffff;
}

/* PAGE SPEED */

.speed__container {
    background-color: #191919;
}

.speed-title-container {
    margin: 0 10%;
}

.speed-title-container h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.speed-title-container span {
    color: #00B6FF;
}

.speed-title-container p {
    color: #cccccc;
}

.input__container {
    display: flex;
    margin: 0 10%;
    position: relative;
    top: 70px;
}

.input-field,
.score {
    flex: 50%;
    text-align: center;
    background-color: #2c2c2c;
    padding: 60px;
    margin: 0 10px;
    box-shadow: 0px 14px 0 -9px #00b6ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#score-btn {
    padding: 7px 30px;
    margin-left: -27px;
    border: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    background-color: #00b6ff;
    cursor: pointer;
}

input#text {
    padding: 5px;
    border-radius: 50px;
    border: 2px solid white;
}


.service__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10%;
}

.service-content {
    flex: 1;
    padding: 0 20px 0 0;
}

.service-content h2 {
    text-transform: uppercase;
    color: #1A1A1A;
}

.service__container a:nth-child(2) {
    height: 60vh;
    background: url("../images/service1.jpg") no-repeat;
    background-size: cover;
    flex: 1;
    margin: 0 5px;
    color: #fff;
    text-transform: uppercase;
}

.service__container a:nth-child(3) {
    height: 60vh;
    background: url("../images/service2.jpg") no-repeat center;
    background-size: cover;
    flex: 1;
    margin: 0 5px;
    color: #fff;
    text-transform: uppercase;
}

.service__container a:nth-child(4) {
    height: 60vh;
    background: url("../images/service3.jpg") no-repeat center;
    background-size: cover;
    flex: 1;
    margin: 0 5px;
    color: #fff;
    text-transform: uppercase;
}

.service__container a {
    text-decoration: none;
    box-shadow: 1px 2px 20px 3px #a2a2a2;
}

.service-one div,
.service-two div,
.service-three div {
    background-color: #181818;
    padding: 10px;
}

/* PROCESS */

.process-content {
    display: flex;
    justify-content: center;
    margin: 0 10%;
}

.process-title {
    flex: 33.3%;
}

.process-title h4,
.process-title h2 {
    margin: 5px 0;
}

.process-text {
    flex: 66.6%;
}

.featured-process {
    display: flex;
    margin: 3% 10%;
}

.main-featured {
    flex: 66.6%;
    background: url("../images/s1.jpg") no-repeat center;
    background-size: cover;
    height: 40em;
    border: 10px solid white;
    padding: 25px;
}

.featured-flex {
    flex: 33.3%;
}

.feature-stack-two {
    background: url("../images/s3.jpg") no-repeat center;
    background-size: cover;
    height: 20em;
    border: 10px solid white;
    padding: 25px;
}

.feature-stack-one {
    background: url("../images/s2.jpg") no-repeat center;
    background-size: cover;
    height: 20em;
    border: 10px solid white;
    padding: 25px;
}

.process-steps {
    display: flex;
    margin: 0 10%;
}

.step-one,
.step-two,
.step-three{
    flex: 1;
    padding: 20px;
}