{{ define "main"}}

<h2>What Inspires Us</h2>
<p>With a lot of website agencies expanding. The market for web design grows exponentially as start-ups try to get the better deal for websites. We’ve experienced agencies that do not deliver and do not have solid strategies for ensuring client support.

    With a background of design, programming, and support, we decided to put together a team of reliable professionals that led us to strategize and deliver without any hiccups.</p>

    <h2>What Makes Us Different</h2>
<p>Unlike agencies who care about growth. Our background in support drives us to make sure customer satisfaction by being prompt in response.

</p>

{{end}}