<div class="hr-hero"></div>
<div class="hr-hero-bottom"></div>
<div class="about__container">
    <div class="about-content__container">
        <div class="about-img">
            <img src="{{ .Site.BaseURL }}images/aboutsec.png" alt="" width="300">
        </div>
        <div class="about-bio">
            <h1>Different from Agencies</h1>
            <p>With new agencies starting up, it's harder to stand out. But one thing I learned is that most agencies and designers take the shortcut in designing websites which is using Wordpress themes. Wordpress can be too heavy for specific websites and can lead to slow performing sites, causing sites to rank low on Google.</p>
            <p>By utilizing my skills in website development, I create websites from scratch and focus on giving my clients a high performing websites that can load instantly.</p>
            <div class="btn-container">
                <svg height="50" class="btn-circle"> 
                    <circle cx="20" cy="25" r="20" stroke-width="3" fill="#00B6FF" />
                  </svg> 
            <a href="#">About</a>
            </div>
        </div>
    </div>
</div>