<div class="hr-hero"></div>
<div class="hr-hero-bottom"></div>
<div class="about__container">
    <div class="about-content__container">
        <div class="about-img">
            <img src="{{ .Site.BaseURL }}images/aboutsec.png" alt="" width="300">
        </div>
        <div class="about-bio">
            <h1>Why we're different</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae fugiat ducimus modi magnam maxime? Libero velit fuga error officiis consequuntur incidunt, tenetur suscipit perferendis ab, quam cum in. Sed, alias.</p>
            <div class="btn-container">
                <svg height="50" class="btn-circle"> 
                    <circle cx="20" cy="25" r="20" stroke-width="3" fill="#00B6FF" />
                  </svg> 
            <a href="#">View Case Studies</a>
            </div>
        </div>
    </div>
</div>