<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Netlify Identity -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <!-- Netlify Idetity -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{.Site.BaseURL}}css/main.css">
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/normalize.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/2dac2bfc0f.js" crossorigin="anonymous"></script>

    {{ with .Params.Seo.MetaTitle }}
    <title>{{ . }}</title>
    {{ end }}

    {{ with .Params.Seo.Metadescription }}
    <meta name="description" content="{{ . }}">
    {{ end }}
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133165680-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-133165680-1');
</script>

    
</head>
<body>