<div class="header">
    <div class="logo">
        <a href="/">
            <img src="{{ .Site.BaseURL }}images/hungryramlogowhite.png" alt="" width="200">
        </a>
    </div>
    <div class="nav">
        <nav>
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/about"><li>About</li></a>
                <a href="/projects"><li>Projects</li></a>
                <a href="/blog"><li>Blog</li></a>
                <a href="/contact"><li>Contact</li></a>
            </ul>

    </div>
    <div class="nav-mobile">
        <span style="color: #fff">MENU</span>
    </div>
</div>