<div class="hero__container">
    <div class="panel-overlay">
    </div>
    
    <div class="hero-content__overlay">
        <div class="hero-text">
            <h1>Performance based websites for<br> businesses</h1>
            <p>
                Creating strategies that deliver results while simplifying the website experience
            </p>
            <div class="btn-container">
                <i class="fas fa-circle fa-2x"></i><a href="/projects">View Case Studies</a>
            </div>
        </div>
        <div class="slider__container" style="color:white">
            <div class="multiple-items">
                <div>
                    <a href="/projects"><img src="{{ .Site.BaseURL }}images/yooriparkbanner.jpg" alt="yoori park luxury real estate"></a>
                </div>
                <div>
                    <a href="/projects"><img src="{{ .Site.BaseURL }}images/antoniomatier.jpg" alt=""></a>
                </div>
                <div>
                    <a href="/projects"><img src="{{ .Site.BaseURL }}images/c21garland.jpg" alt=""></a>
                </div>
                <div>
                    <a href="/projects"><img src="{{ .Site.BaseURL }}images/wallstreetrealty.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>