<div class="speed__container">
    <div class="speed-title-container">
        <h2>Test your Google <span>page speed</span></h2>
        <p>Enter in the name of any website and find out the score compared to ours</p>
    </div>
    
    <div class="input__container">
        <div class="input-field">
            <input type="text" id="text" placeholder="yourwebsite.com"/>
            <input type="button" id="score-btn" value="Submit" onClick="javascript: window.open('https://developers.google.com/speed/pagespeed/insights/?url=' + document.getElementById('text').value);" />
        </div>
        <div class="score">
            <a href="https://developers.google.com/speed/pagespeed/insights/?url=hungryram.com" target="_blank">See Our Scores </a>
        </div>
    </div>
</div>