<div class="process__container">
    <div class="process-content">
        <div class="process-title">
            <h2>The <span>Process</span></h2>
            <h4>More than an agency. I deliver agency-quality websites</h4>
        </div>
        <div class="process-text">
            <P>As a developer of 8 years, there are three main steps necessary for the perfect project scope - discovery, design and development, and launching. Not only am I focusing on the design aspect, but the performance which is why I like to always improve for all my clients.</P>
        </div>
    </div>
    <!-- <div class="featured-process">
        <a href="" class="main-featured">
        <div>
            <h3>Your Own Website Design</h3>
        </div>
        </a>
        <div class="featured-flex">
            <div class="feature-stack-one">
                <h3>Our Blog</h3>
            </div>
            <div class="feature-stack-two">
                <h3>Website Care Plan</h3>
            </div>
        </div>
    </div> -->
    <div class="process-steps">
        <div class="step-one">
            <h4>Discovery</h4>
            <i class="fas fa-circle"></i>
            <p>During the discovery process, research is done on your business industry and competitors. The goals of the discovery phase are to outline the projet audience, purpose, structure, and goals.</p>
        </div>
        <div class="step-two">
            <h4>Design and Development</h4>
            <i class="fas fa-circle"></i>
            <p>Once the design is chosen, the development starts! Every website is custom developed without using any themes. The development process involves debugging and testing special features on the website as well as SEO.</p>
        </div>
        <div class="step-three">
            <h4>Launch</h4>
            <i class="fas fa-circle"></i>
            <p>Once you think the site is amazing, it'll be launched on your domain name and it will be constantly monitored to ensure optimal performance and experience!</p>
        </div>
    </div>
</div>