<div class="main-service__container">
    <div class="service__container">
        <div class="service-content">
            <h2>Web design based in Orange County, California</h2>
            <p>With over 8 years of experience with several agencies, I understand how to design beautiful modern sites for flexibility while offering the lowest prices! Every site is customized for our clients to improve user experience and increase leads. I work with our clients to understand their industry, competitors, and goals to reach that audience.

                By providing highly creative and impactful websites for our clients, I grow through repeated sales and word of mouth. My support is the best you’ll receive through professionalism and establishing open communication.</p>
                
        </div>

        <a href="/real-estate-website" class="service-one">
            <div>
                <p class="re-text">Real Estate Websites</p>
            </div>
        </a>
        <a href="/contact" class="service-two">
            <div>
                <p>Graphic Design</p>
            </div>
        </a>
        <!-- <a href="#" class="service-three">
            <div>
                <p>Marketing and SEO</p>
            </div>
        </a> -->
    </div>
</div>
