<div class="main-testimonial__container">
    <div class="testimonial-title">
        <h2>My Client Testimonials</h2>
    </div>
<div class="testimonial__container">
    
    <div class="testimonial-one">
        <img src="{{ .Site.BaseURL }}images/yooripark.jpg" alt="">
        <p>So happy to be working with Ram. He is always prompt on response and follows up on my website.</p>
            <hr>
            <p class="client-name">Yoori Park, Luxury Real Estate</p>
    </div>

    <div class="testimonial-two">
        <img src="{{ .Site.BaseURL }}images/anitatherealtor.jpg" alt="">
        <p class="client-testimonial">Super easy to work with! His timeline is excellent. He recently designed my website: www.AnitaTheRealtor.com. I’m looking for some simplicity and he delivered it.</p>
            <hr>
            <p class="client-name">Anita Iswanto, Realtor</p>
    </div>

    <div class="testimonial-three">
        <img src="{{ .Site.BaseURL }}images/johnpagani.png" alt="">
        <p>Ram is amazing, he knows what he is doing worked fast and efficiently, got our site up faster than anticipated and beyond our expectations.
            <br>
            THANK YOU SO MUCH!!!</p>
            <hr>
            <p class="client-name">John Pagani, Wallstreet Realty</p>
    </div>

        <!-- <div class="single-item">
            <div>
                <img src="{{ .Site.BaseURL }}images/yooripark.jpg" alt="">
                <div class="testimonial-content">
                    <h1>Featured on HGTV</h1>
                    <h4>Providing Performanced Based Websites</h4>
                    <svg height="50" class="btn-circle"> 
                        <circle cx="10" cy="25" r="8" stroke-width="3" fill="#00B6FF" />
                      </svg> 
                    <p class="client-testimonial">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum quis, consequatur placeat libero beatae praesentium odit. Assumenda cupiditate mollitia provident, architecto deserunt esse omnis, optio impedit dolor nihil excepturi alias?</p>
                    <hr align="left">
                    <p class="client-name">Yoori Park, Luxury Real Estate</p>
                </div>
            </div>
            <div>
                <img src="{{ .Site.BaseURL }}images/johnpagani.png" alt="">
                <div class="testimonial-content">
                    <h1>What Clients Say</h1>
                    <h4>Providing Performanced Based Websites</h4>
                    <svg height="50" class="btn-circle"> 
                        <circle cx="10" cy="25" r="8" stroke-width="3" fill="#00B6FF" />
                      </svg> 
                    <p class="client-testimonial">Ram is amazing, he knows what he is doing worked fast and efficiently, got our site up faster than anticipated and beyond our expectations.
                        <br>
                        THANK YOU SO MUCH!!!</p>
                        <hr align="left">
                        <p class="client-name">John Pagani, Wallstreet Realty, Broker</p>
                </div>
            </div>

            <div>
                <img src="{{ .Site.BaseURL }}images/anitatherealtor.jpg" alt="">
                <div class="testimonial-content">
                    <h1>What Clients Say</h1>
                    <h4>Providing Performanced Based Websites</h4>
                    <svg height="50" class="btn-circle"> 
                        <circle cx="10" cy="25" r="8" stroke-width="3" fill="#00B6FF" />
                      </svg> 
                    <p class="client-testimonial">Super easy to work with! His timeline is excellent. He recently designed my website: www.AnitaTheRealtor.com. I’m looking for some simplicity and he delivered it.</p>
                    <hr align="left">
                    <p class="client-name">Anita Iswanto, Real Estate Agent</p>
                </div>

            </div>

            <div>
                <img src="{{ .Site.BaseURL }}images/s2.jpg" alt="">
                <div class="testimonial-content">
                    <h1>What Clients Say</h1>
                    <h4>Providing Performanced Based Websites</h4>
                    <svg height="50" class="btn-circle"> 
                        <circle cx="10" cy="25" r="8" stroke-width="3" fill="#00B6FF" />
                      </svg> 
                    <p class="client-testimonial">Very professional and knowledgeable.
                        Fast response time. Indeed the ultimate triple threat. Most definitely the greatest experience!<br>Thank you again!
                        </p>
                        <hr align="left">
                        <p class="client-name">Cedrick Ha, Ecommerce Business Owner</p>
                </div>
            </div>

        </div> -->
</div>
</div>